
.vs/PrimitiveEngine/FileContentIndex/221d7bb2-e4c2-434e-aa14-b19e34816a7b.vsidx
.vs/PrimitiveEngine/v17/.suo
.vs/PrimitiveEngine/v17/Browse.VC.db
.vs/PrimitiveEngine/v17/DocumentLayout.backup.json
.vs/PrimitiveEngine/v17/DocumentLayout.json
.vs/PrimitiveEngine/v17/fileList.bin
.vs/PrimitiveEngine/v17/ipch/AutoPCH/41a99ac8d17e9a1f/MAIN.ipch
.vs/PrimitiveEngine/v17/ipch/AutoPCH/9ba1dc0913123e0f/WORLDGENERATOR.ipch
.vs/PrimitiveEngine/v17/ipch/AutoPCH/c994e00b4b6adc94/GAME.ipch
.vs/PrimitiveEngine/v17/Solution.VC.db
